option_settings:
  aws:elasticbeanstalk:application:environment:
    SWAP_SIZE: 4096m
    SWAP_FILE_PATH: /swapfile.bin
commands:
  create_and_enable_swapfile:
    command: |
      SWAP_SIZE=$(/opt/elasticbeanstalk/bin/get-config environment -k SWAP_SIZE)
      SWAP_FILE_PATH=$(/opt/elasticbeanstalk/bin/get-config environment -k SWAP_FILE_PATH)
      if [ ! -e "${SWAP_FILE_PATH}" ]; then
        /bin/fallocate -l "${SWAP_SIZE}" "${SWAP_FILE_PATH}"
        /bin/chmod 600 "${SWAP_FILE_PATH}"
        /sbin/mkswap "${SWAP_FILE_PATH}"
      fi
      /sbin/swapon -s | grep "${SWAP_FILE_PATH}" || /sbin/swapon "${SWAP_FILE_PATH}"